.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-top: -48px;
  margin-left: -55%;
  margin-right: -55%;
}
.navbar-nav {
  float: left;
  margin: 20px;
  width: 25%;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
a.nav-link {
  margin-right: 20%;
}
.user-screen {
  width: max-content !important;
}
